
.side_bar
  .side_bar__header
    .side_bar__header__box
      .side_bar__header__box__username
        aiueo
      .side_bar__header__box__menu
        .side_bar__header__box_menu__left
          = link_to "#", class:"icon1" do
            = icon('fas', 'edit')
        .side_bar_header_box_menu_right
          = link_to "#",class:"icon2" do
            = icon('fas', 'cog')

  .side_bar__contents
    .side_bar__contents__textbox
      .side_bar__contents__textbox__title
        = link_to "#", class:"text" do
          ああああ
      .side_bar__contents__textbox__message
        = link_to "#", class:"text" do
          まだメッセージがありません